*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

html,body{
  height: 100%;
  width: 100%;
}


body{
  background-color: #000;
  color: #fff;
}

.box{
  height: 200px;
  width: 200px;
  background-color: crimson;
  border: 3px solid white;
}